canonical-pdlrefwk/
perseus_catalog/
canonical-greekLit/
canonical-latinLit/
whitakers-words/
treebank_data/
First1KGreek/
scaife-viewer/
elwiktionary-latest-pages-articles.xml.bz2
enwiktionary-latest-pages-articles.xml.bz2
cunliffe.txt
