canonical-pdlrefwk/
perseus_catalog/
canonical-greekLit/
canonical-latinLit/
whitakers-words/
treebank_data/
First1KGreek/
scaife-viewer/
elwiktionary-latest-pages-articles.xml.bz2
enwiktionary-latest-pages-articles.xml.bz2
arwiktionary-latest-pages-articles.xml.bz2
cunliffe.txt
HebrewLexicon/
arabic_text_perseus/
canonical-farsiLit/
epsd2.zip
epsd2/
lexicon_xml/
morphhb/
rinap.zip
rinap/
sanskrit/
opera_graeca_adnotata_v0.2.0/
opera_graeca_adnotata_v0.2.0.zip
corpora/
pta_data/
syriaca-data/
