cltk>=2.5.1
click==8.3.2
stanza>=1.11.1
indic-transliteration==2.3.82
markdown-it-py==4.0.0
mdurl==0.1.2
Pygments==2.20.0
regex==2026.4.4
rich==14.3.4
roman==5.2
shellingham==1.5.4
toml==0.10.2
typer==0.24.1
typing_extensions==4.15.0
